@model MovieBlend.Models.ACDarray
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Search Results</h2>

<div class="overflow-auto">
    @foreach (var item in Model.results)
    {
        <div class="media position-relative">
            <img src=@item.poster_path class="mr-4 card-img" style="width:150px; height:180px;">
            <div class="media-body">
                <h5 class="mt-0">@item.title@item.name | @item.original_language</h5>
                @if (item.isAdded)
                {

                    <button class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeleteWatch", "Home", new { @data = JsonConvert.SerializeObject(item.id) })'"><i class="fa fa-fw fa-minus-circle"></i>Del</button>
                }
                @if (!item.isAdded)
                {
                    <button class="btn btn-success" value="Add" onclick="location.href='@Url.Action("AddWatch", "Home", new { @data = JsonConvert.SerializeObject(item.id) })'"><i class="fa fa-fw fa-check-circle"></i>Add</button>
                }
                <hr />
                <h6 class="mt-3">Release: @item.release_date@item.first_air_date</h6>
                <h6 class="mt-3">Vote Count: @item.vote_count | Vote_avg: @item.vote_average</h6>
                <p>@item.overview</p>
            </div>
        </div>
        <br />
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
