@model MovieDataViewModel
@using Newtonsoft.Json
@using Humanizer
@using StmlParsing
@{
    ViewData["Title"] = "TV Index";
}

<div class="panel panel-default Movie-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <div class="card-columns">
        @foreach (var item in Model.Movies)
        {
            <div class="card text-center">
                <div class="card-header">
                    @item.Genre | @item.Language |@item.Release
                </div>
                <div class="card-body" style="opacity:0.9; background:url('/PostDetail/ViewImage/@item.Cover_pic_id')">
                    <h5 class="card-title text-danger invertx">
                        @item.Title
                    </h5>
                    <p class="card-text text-light"> @Html.Raw(@StmlParser.Parse(item.Description))</p>
                    <a class="btn btn-info" onclick="location.href='@Url.Action("Index","PostDetail",new { @data=JsonConvert.SerializeObject(item.Id)})'">Details</a>
                </div>

                <div class="card-footer text-muted">
                    Posted @item.Postedate.Humanize() By @item.User_name
                </div>
            </div>
        }
    </div>
</div>