@model MovieDataViewModel
@using Newtonsoft.Json
@using Humanizer
@{
    ViewData["Title"] = "Movie Index";
}
<div class="panel panel-default Movie-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Posted Time</td>
                <td>Title</td>
                <td>Genre</td>
                <td>Release Date</td>
            </tr>
        </thead>
        
        @foreach (var item in Model.Movies)
        {
            <tr onclick="location.href='@Url.Action("Index","PostDetail",new { @data=JsonConvert.SerializeObject(item.Id)})'">
                <td>@item.Postedate.Humanize()</td>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.Release</td>
            </tr>
        }
    </table>
</div>