@model MovieDataViewModel
@using Humanizer
@using Newtonsoft.Json
@{
    ViewData["Title"] = "My Posts";
}

<h2>@ViewData["Title"]</h2>
<div class="panel panel-default Movie-panel">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Cover Pic</td>
                <td>PostDate</td>
                <td>Title</td>
                <td>Genre</td>
                <td>Release Date</td>
                <td>Privacy</td>
            </tr>
        </thead>
        @foreach (var item in Model.Movies)
        {
            <tr onclick="location.href='@Url.Action("Index","PostDetail",new { @data=JsonConvert.SerializeObject(item.Id)})'">
                <td> <img src="/PostDetail/ViewImage/@item.Cover_pic_id" style="width:50px; height:50px;" /></td>
                <td>@item.Postedate.Humanize()</td>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.Release</td>
                <td>@item._Privacy</td>
            </tr>
        }
    </table>
</div>

